<section class="container-fluid">
    <div class="row">
        <br/>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive img-rounded" src="assets/images/wikanda-bio.jpg" alt="" />
            <br/>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div>
                <h3>Wikanda Phaphan</h3>
                <h4>Experience</h4>
                <ul class="list-unstyled bio-text-detail">
                    <li>
                        <b>2015 - Present</b>
                    </li>
                    <li>Department of Applied Statistics, Faculty of Applied Science, King Mongkut's University of Technology
                        North Bangkok
                    </li>
                    <li>Position : Lecturer</li>
                </ul>
            </div>
            <br/>
            <div>
                <h4>Education</h4>
                <ul class="list-unstyled bio-text-detail">
                    <li>
                        <b>2011 – 2015</b>
                    </li>
                    <li>Thammasat University, Bangkok, Thailand Ph.D (Statistics)</li>
                </ul>
                <ul class="list-unstyled bio-text-detail">
                    <li>
                        <b>2009 – 2011</b>
                    </li>
                    <li>Khonkaen University, Khonkaen, Thailand M.S. (Applied Mathematics)</li>
                </ul>
                <ul class="list-unstyled bio-text-detail">
                    <li>
                        <b>2005 – 2009</b>
                    </li>
                    <li>Khonkaen University, Khonkaen, Thailand B.Sc. (Statistics)</li>
                </ul>

            </div>
        </div>
    </div>
</section>