<section class="ui-g">
    <br/>
    <div class="ui-g-12 ui-md-12 ui-lg-5">
        <img src="assets/images/wikanda-bio.jpg" alt="" />
        <br/>
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-7">
        <div>
            <h3>Asst.Prof. Wikanda Phaphan, Ph.D.</h3>
            <h4>Experience</h4>
            <ul class="list-unstyled">
                <li>
                    <b>2015 - Present</b>
                </li>
                <li>Department of Applied Statistics, Faculty of Applied Science, King Mongkut's University of Technology North
                    Bangkok
                </li>
                <li>Position : Lecturer</li>
            </ul>
        </div>
        <br/>
        <div>
            <h4>Education</h4>
            <ul class="list-unstyled">
                <li>
                    <b>2011 – 2015</b>
                </li>
                <li>Thammasat University, Bangkok, Thailand Ph.D. (Statistics)</li>
            </ul>
            <ul class="list-unstyled">
                <li>
                    <b>2009 – 2011</b>
                </li>
                <li>Khonkaen University, Khonkaen, Thailand M.S. (Applied Mathematics)</li>
            </ul>
            <ul class="list-unstyled">
                <li>
                    <b>2005 – 2009</b>
                </li>
                <li>Khonkaen University, Khonkaen, Thailand B.Sc. (Statistics)</li>
            </ul>

        </div>
        <br/>
        <div>
            <h4>Scholarship</h4>
            <ul class="list-unstyled">
                <li>
                    <b>2005 – 2014</b>
                </li>
                <li>Human Resource Development in Science Project (Science Achievement Scholarship of Thailand, SAST)</li>
            </ul>
        </div>
    </div>
</section>