<div class="ui-g">
    <div calss="ui-g-12 ui-md-12 ui-lg-12 ">
        <div class="ui-g-12 ui-md-12">
            <h4>Office</h4>
            <ul class="list-unstyled">
                <li>Department of Applied Statistics</li>
                <li>Faculty of Applied Science</li>
                <li>King Mongkut's University of Technology North Bangkok</li>
                <li>Thailand 10800</li>
            </ul>
        </div>
        <br/>
        <div class="ui-g-12 ui-md-12">
            <h4>Phone</h4>
            <ul class="list-unstyled">
                <li>(+662) 555-2000 ext. 4903</li>
            </ul>
        </div>
        <br/>
        <div class="ui-g-12 ui-md-12">
            <h4>Email Address</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="mailto:wikanda.p@sci.kmutnb.ac.th">wikanda.p@sci.kmutnb.ac.th</a>
                    <li>
            </ul>
        </div>
    </div>
</div>
