<!DOCTYPE html>
<html>
    <head>
        <title>Ajarn Wikanda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Website of Wikanda Phaphan">
        <meta name="google" content="notranslate">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="js/app.js"></script>  
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.2.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/myjs.js"></script>
        <style>* {-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */filter: grayscale(100%);}</style>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">Phaphan, W.</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="research.html">Research</a>
                            </li>
                            <li>
                                <a href="biography.html">Biography</a>
                            </li>
                            <li>
                                <a href="software.html">Software</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right hidden">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Sign Up</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-log-in"></span>
                                    Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section class="container-fluid" ng-app="sortResearch" ng-controller="mainController">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Search the Title" ng-model="searchTitle" autofocus>
                            </div>
                        </div>
                    </form>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>
                                    <a href="#" ng-click="sortType = 'Year'; sortReverse = !sortReverse">
                                        <b>Year</b>
                                        <span ng-show="sortType == 'Year' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Year' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Title'; sortReverse = !sortReverse">
                                        <b>Title</b>
                                        <span ng-show="sortType == 'Title' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Language'; sortReverse = !sortReverse">
                                        <b>Language</b>
                                        <span ng-show="sortType == 'Language' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Language' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType = 'Publishing'; sortReverse = !sortReverse">
                                        <b>Publishing</b>
                                        <span ng-show="sortType == 'Publishing' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Publishing' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <!-- <td>
                                    <a href="#" ng-click="sortType = 'Author'; sortReverse = !sortReverse">
                                        <b>Author</b>
                                        <span ng-show="sortType == 'Author' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'Author' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td> -->
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="roll in research | orderBy:sortType:sortReverse | filter:searchTitle">
                                <td>
                                    {{ roll.Year }}
                                </td>
                                <td>
                                    <a href="{{ roll.DownloadLink }}" target="_blank">{{ roll.Title }}</a>
                                </td>
                                <td>
                                    {{ roll.Language }}
                                </td>
                                <td>
                                    {{ roll.Publishing }}
                                </td>
                                <!-- <td>
                                    {{ roll.Author }}
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </body>
</html>
