<div class="ui-g">
    <div class="ui-g-12">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Search...">
        </div>
        <p-dataTable [value]="researches" sortMode="multiple" [globalFilter]="gb" #dt selectionMode="single" [(selection)]="selectedResearch"
            dataKey="downloadLink" (onRowSelect)="onRowSelect($event)" [responsive]="true" [stacked]="stacked">
            <p-column field="year" header="Year" [sortable]="true"></p-column>
            <p-column field="title" header="Title" [sortable]="true"></p-column>
            <p-column field="publishing" header="Publishing" [sortable]="true"></p-column>
            <p-column field="language" header="Language" [sortable]="true"></p-column>
        </p-dataTable>
    </div>
</div>